.agent-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: start;
}

.agent-summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agent-card {
  background-color: var(--sidebar-color);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: auto;
  margin-bottom: 20px;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.agent-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.agent-card-icon {
  font-size: 30px;
  color: var(--active-color);
  margin-bottom: 10px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.agent-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agent-value{
    font-size: 20px;
}

h4{
    font-size: 15px;
    font-weight: 200;
    padding: 0px;
    margin: 0px;
}

/* Table Styling */
.agent-table-container {
  width: 100%;
  margin: 0px auto;
  font-family: var(--font-family);
  margin-top: 30px;
}

.agent-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.agent-table th, .agent-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.agent-table th {
  background: #f4f4f4;
  font-weight: bold;
}

.agent-table tbody tr:hover {
  background: #f1f1f1;
}

/* Pagination Styling */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  border: none;
  background: #f4f4f4;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 3px;
}

.pagination button.active {
  background: #007bff;
  color: white;
}