# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# removed on server.js so that to run the project locally proxy  "proxy": "http://10.52.0.19:8088",
server.js
src/config.js


#.env
localhost+1-key.pem
localhost+1.pem
agentsDashboard/useSipPhone.js
call-center-dashboard/agents-dashboard/useSipPhone.js       
src/pages/call-center-pages/call-center-dashboard/agents-dashboard/useSipPhone.js
sip/supervisorSip.js
src/sip/supervisorSip.js        
pages/dashboard/dashboard.js
src/pages/dashboard/dashboard.js                                
pages/public-dashboard/PublicDashboard.js                   
src/pages/public-dashboard/PublicDashboard.js
pages/call-center-pages/call-center-dashboard/supervisor-dashboard/SupervisorDashboard.js
src/pages/call-center-pages/call-center-dashboard/supervisor-dashboard/SupervisorDashboard.js   
                                                     
