.dashboard {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title{
  font-size: 20px;
  padding: 0px;
  text-align: left;
  color: var(--text-color);
}

.card-dashboard{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.phone-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.phone-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.phone-actions button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.phone-actions button:hover {
  background-color: #45a049;
}

.phone-navbar {
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--sidebar-color);
}
