.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid var(--sidebar-color);
}

.navbar-left {
  display: flex;
  color: var(--active-color);
  align-items: center;
}

.theme-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
  color: var(--active-color);
}
.icon {
  font-size: 1.5rem;
  margin-right: 15px;
  cursor: pointer;
}

/* .logo {
  height: 40px;
  margin-right: 10px;
} */

.region {
  font-size: 0.9rem;
  color: var(--active-color);
  font-family: var(--font-family);
  margin-left: 5px;
}

.navbar-center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 600px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.notifications {
  position: relative;
  margin-right: 15px;
  font-size: 20px;
  color: var(--active-color);
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--badge-color);
  color: white;
  font-size: 0.5rem;
  padding: 2px 5px;
  border-radius: 50%;
}

.profile-container {
  position: relative;
  cursor: pointer;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
  background-color: var(--sidebar-color);
  color: var(--active-color);
  border-radius: 10px;
  gap: 5px;
  font-size: 15px;
}

.profile-icon {
  font-size: 1.5rem;
  color: var(--active-color);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--sidebar-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  padding: 10px;
  margin-top: 0px;
  z-index: 1000;
}

.profile-container:hover .dropdown-menu {
  display: block;
}

.service-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  color: var(--active-color);
  font-size: 0.8rem;
  width: 100%;
  padding: 10px;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 5px;
}

.service-button:hover {
  background-color: var(--hover-color);
  font-weight: bold;
}
.menu-icon {
  font-size: 1.5rem;
  color: var(--active-color);
  cursor: pointer;
}