.login{
    flex: 1;
    height: 100%;
    width: 100%;
    /* make background image form the folder image */
    /* background-image: url(../../image/network.jpg);
    background-position: center;
    background-size: cover; */
    background-color: #255196;
}
.login-box{
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(250, 248, 248, 0.1);
    border-radius: 10px;
}
.logo{
    width: 150px;
    height: 60px;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid white;
}
.input-field{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 20%;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    font-family: var(--font-family);
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.btn:hover{
    background-color: black;
    color: white;
    transition: ease-in-out 0.5s;
}
.title{
    font-size: 30px;
    font-family: var(--font-family);
    color: white;
    text-align: center;
    margin-bottom: 20px;
}