 /* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal appears on top */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.modal label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #333;
}

.modal input[type="text"],
.modal select,
.modal input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.modal button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button.cancel {
  background-color: #f44336;
}

.modal button.cancel:hover {
  background-color: #d32f2f;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal .modal-footer button {
  margin-top: 15px;
}

.modal .modal-footer button.cancel {
  background-color: #f44336;
}

.modal .modal-footer button.cancel:hover {
  background-color: #d32f2f;
}

.play-icon {
  color: green;
}

.edit-icon {
  color: blue;
}

.delete-icon {
  color: red;
}
